!foreground1= #033649
!foreground2= #036564
!highlight= #fcfccc
!subtle1= #deddcb

!font_list= "sans-serif"

body 
  margin: 0
  :font-family = !font_list
  background: #ddd

h1, h2, h3
  :color= !foreground2
  font-weight: normal
  margin: .3em 0 .1em 0

h1
  :font
    :size 3em

a
  :color= !foreground2
  text-decoration: underline
  &:visited
    :color= !foreground2
  &:hover
    :background= !foreground2
    padding: 2px 0
    color: #fff

img 
  border: none

input, textarea, select
  :font-size large
  :font-family= !font_list
  :padding 4px
  :background= !subtle1
  :border 1px solid
  :border-color= !foreground2
  &:focus
    :background= !highlight

fieldset
  :border 1px solid
  :border-color= !foreground2
  legend
    :color= !foreground2
    :font-size 1.5em

address
  :font-style normal

.container_16
  background: #fff

a#skipToContent
  float: left
  margin-top: -20px

#userBar
  background: #666
  color: #ccc
  padding: 2px 0
  text-align: right
  font-size: small

#userBar a
  color: #fff
  text-decoration: none
  padding: 2px
  &:hover
    color: #000
    background: #bbb

#banner
  :background= !foreground2
  padding 2px
  border-bottom: 1px solid #fff
  h2
    margin: 0
    a
      :color= #fff
      font-size: 1.8em
      padding: 0
      margin: 0
      text-decoration: none
      img, object
        margin: 6px 12px
        vertical-align: middle

#searchBar
  :background= !foreground2
  :padding 4px 0
  a, a:visited
    :color #fff
  #group, #location
    :width 12em
  label
    :color #fff

#main
  background: #fff
  padding: 0 0 2em 0


#footer
  :background= !foreground2
  padding: 1em 0 4em 0 
  text-align: center
  color: #ddd
  p
    color: #ddd
  p.bookmark a
    &:hover, &:focus
      :background= !foreground2
      text-decoration: none  
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      display: inline
      border-left: 1px solid
      border-color: #fff
      padding-left: 0.25em
      &:first-child
        border: none
      a
        padding: 0.5em
        text-decoration: none
        color: #fff
        &:hover
          color: =!foreground1
          background-color #ccc

#serverClock
  font-size: small
  color: #999

.flash
  margin-top: 8px
  text-align: center
  padding: 4px 0

.flash div
  :border 1px solid #999
  :color #000
  :margin-top .5em
  :padding 4px 8px 4px 24px
  :display inline
 
.flash-info
  :background url(/images/exclamation.png) 4px 5px no-repeat #ff9

.flash-success
  :background url(/images/tick.png) 4px 5px no-repeat #9f9

.flash-error
  :background url(/images/cross.png) 4px 5px no-repeat #f99

.highlight
  :background= !highlight
  :border 1px solid #cc6
  :padding 4px

.open, .closed, .unsure
  :padding 2px 4px 2px 4px
  :color #fff

.open
  :background #060

.closed
  :background #600

.unsure
  :background #666

.infoBox
  :margin-top 1em
  :border 1px solid #ccc
  :background #eee
  :font-size smaller
  :padding 4px

input.fullWidth
  :width 492px

input.shy
  :border-color #999
  :font-size small

input.button
  :border 1px outset

input.tick
  :padding-left 32px
  :background url(/images/tick.png) no-repeat 8px 8px #cec
  :color #070

input.cross
  :padding-left 32px
  :background url(/images/cross.png) no-repeat 8px 8px #ecc
  :color #700

ul.small
  font-size: small

.errorExplanation
  :background #fdd
  :border 1px solid #c00
  :padding 8px
  h2
    :color #c00

.fieldWithErrors
  :display inline
  input, textarea, select
    :border 2px solid #C00
    :background= #fdd
    &:focus
      :background= !highlight

table
  th, td
    :vertical-align top

table.openingTimes
  :padding 0
  :border-collapse collapse
  col.day
    :width 10em
  col.time
    :width 6em
  col.dash
    :width 1em
  col.comment
    :width 14em
  tr#holidayOpenings
    :border-top 3px double #bbb
  tr.today
    :background= !highlight
    td.day
      :color #000
  th
    :font-weight normal
    :font-size 1.3em
  td
    :font-size 2em
    :padding 0 8px 0 8px
    :border-top 1px solid #ccc
    :border-bottom 1px solid #ccc
  .closed
    :color #000
  td.day
    :color #333
    :padding-right 16px
  td.hday
    :color #333
    :font-size 1em
    :padding-top 4px
    :white-space nowrap
  td.comment
    :padding 2px
    :font-size small
  td
    .ampm
      :color #333
      :font-weight normal
      :font-size .7em

.info
  :font-size 12px

table.inputFormTable
  :border-collapse collapse
  :border none
  th, td
    :padding 4px
  th
    :text-align right
    :font-weight normal
  th.top
    :text-align center
  td.hint
    :font-size .8em
    :color #444
  label
    :color #666
    :display block
    :padding 4px 0 0 0
    :white-space nowrap
  label.mandatory
    :color #000
    &:after
      content: " *"

table.openingsForm
  :border-collapse collapse
  tr
    th
      :font-weight normal
    td
      :padding 2px
      :border-bottom 1px solid #ddd
    td.action
      :font-size 0.8em

table.reports
  :border-collapse collapse
  th, td
    :border 1px solid #999
    :padding 3px
    :font-size smaller
  th
    :background #ddd
  td.num
    :text-align right

