#banner{ :style=>'background: url(images/gradient.png) no-repeat fixed top)' }
  %h2#siteTitle
    = link_to(image_tag('logo-small.png',:alt=>'Opening Times logo') + "Opening-Times.co.uk", root_path, :accesskey => '1')
