#banner
  %h2#siteTitle
    %a{ :href=>"/", :accesskey => '1' }
      :plain
        <!--[if IE]> <img src="/images/logo-small.png" alt="Opening Times logo" width="96" height="96" /> <![endif]-->
        <!--[if !IE]>--> <object data="/images/clock_anim.svg" type="image/svg+xml" width="96" height="96"></object> <!--<![endif]-->
      Opening-Times.co.uk
