%h1= @page_title = "Action limit reached"

%p
  Sorry, Opening Times has a daily limit of
  = User::USER_ACTION_LIMIT
  actions (create or edit). This is to help prevent vandalism.

%p
  If you're not a vandal, and this is preventing you from helping Opening Times, please get in touch.
