%h1 Listing facilities

%p Sorted by most recently updated

%ul
  - @facilities.each do |f|
    %li
      = link_to h(f.full_name), f
      %small
        = "(#{time_ago_in_words(f.updated_at)} ago)"
