%h1 Listing facilities

%p Sorted by most recently updated

%table.facilityList
  - @facilities.each do |f|
    %tr
      %td.oc
        %span{ :class => @status_manager.status(f).downcase }= @status_manager.status(f)
      %td= link_to h(f.full_name), facility_slug_path(f.slug)

%br
= will_paginate(@facilities)
