!!! xml
%urlset{ 'xmlns:xsi'=>"http://www.w3.org/2001/XMLSchema-instance",'xsi:schemaLocation'=>"http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd", 'xmlns'=>"http://www.sitemaps.org/schemas/sitemap/0.9" }
  - @facilities.each do |facility|
    %url
      %loc= facility_slug_url(facility.slug)
      %lastmod= facility.updated_at.strftime("%Y-%m-%d")

