- @page_title = "Feedback"
%h1= @page_title

.highlight
  %ul
    %li Opening Times is <b>not</b> affiliated with any of the facilties listed on this site, please contact them directly with feedback regarding their service
    %li I appolgise if the opening times information is incorrect. Please help improve Opening Times by <a href="/register">creating an account</a> and correcting it directly.

%p
  Found a bug? Please add it to the <a href="http://github.com/aubergene/Opening-Times/issues">Opening Times project on GitHub</a>.

%p
  If you have any queries about this website please get in touch.

%p= mail_to 'feedback@opening-times.co.uk'
