%h1= @page_title = "Community Guidelines"

%p
  Opening Times depends on its community to provide the best information, please follow these guidelines:

%ul
  %li you are free to add and edit any business facility, regardless of whether you own it or work there
  %li ensure the information you enter is correct, complete and accurate
  %li keep information neutral, this isn't the place for rants or reviews
  %li if a business facility has very complex opening times, perhaps <a href="http://en.wikipedia.org/wiki/ICalendar">ICalendar</a> would be a more suitable format?

%p
  Want to change these guidelines? Let's chat about it at <a href="http://groups.google.com/group/openingtimes">http://groups.google.com/group/openingtimes</a>.
