%h1 Test harness (h1)

%p 
  Normal paragraph. Blah blah
  = link_to 'some link', root_path
  
%h2 Heading 2

%ul
  %li Unordered list
  %li item 2
  %li item 3
  
%h3 Heading 3

%p.backcolor1 Paragraph in color1

%p.backcolor2 Paragraph in color2

%p.backhighlight Paragraph in highlight


