- @no_banner = @no_search_bar = true
- @onload = "sf();"
- content_for :head do
  %script{ :type=>'text/javascript' }
    function sf(){document.f.location.focus();}

#plainPage{ :style=>"text-align: center; margin-top: 22px;" }
  :plain
    <object type="application/x-shockwave-flash" data="/images/logo.swf" width="196" height="196">
      <param name="movie" value="/images/logo.swf" />
      <param name="wmode" value="transparent" />
      <img id="homeclock" src="/images/logo.png" alt="Opening Times logo" width="196" height="196" />
    </object>
  %h1#siteTitle
    Opening Times
  %p
    Enter a UK town or postcode to find out when nearby shops are open.

  #searchBar
    = form_tag('/search', :name=>'f', :method => :get)
    = label_tag 'location', 'Where'
    = text_field_tag 'location', params[:location], :size => 14
    = submit_tag 'Search', :name => nil, :class=>'button'
    </form>
