%h1= @page_title = "Multiple openings"

%p Below are two examples of more complex openings, you can enter multiple openings on a given day as long as they don't overlap. An opening can't go past midnight, simple create two openings either side of midnight instead. If this doesn't make sense or doesn't meet you needs please get in touch.

%h2 Closed for lunch

= image_tag 'closed_for_lunch.png'

%h2 Open passed midnight

= image_tag 'open_passed_midnight.png'

