- @page_title = "Privacy"
%h1= @page_title
%p More information will be provided on privacy soon.
%p 
  Currently Opening Times will store the location information 
  you provide for searching in a cookie for two weeks.
  
%p I used Google Analytics to track visits to this website.
